:root {
    --primary-color: #35502E;
    --secondary-color: #99B67D;
    --highlight-color: #E8CF0D;
    --primary-font: 'Volkhov', serif;
    --highlight-font: 'Raleway Dots';
}

h1 {
    font-family: var(--highlight-font);
    color: var(--highlight-color);
    font-size: 96px;
}
h2 {
    font-family: var(--highlight-font);
    color: var(--primary-color);
    font-weight:bolder;
}

p {
    font-family: var(--primary-font);
    font-size: 16px;
    color: #182903;
    line-height: 30px
}

h3, h4, h5 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

a:hover {
    color: var(--highlight-color);
    opacity: 0.8;
}

.btn-common {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    border: #182903;
    border-radius: 20px;
    font-family: var(--primary-font);
    font-size: 14px;
    margin-top: 15px;
    line-height: 27px;
    padding: 8px 14px;
}


.hero {
    background-color: var(--primary-color);
    text-align: right;
    padding: 100px;
}

.hero h4 {
margin-top: 30px;
}

.hero h5 {
    margin: 40px 0;
}

.intro-image{
    max-width: 100%;
}
.hero .btn-branding {
    background-color: var(--highlight-color);
    border: #182903;
    border-radius: 20px;
    font-family: var(--primary-font);
    font-size: 14px;
    margin-top: 30px;
    line-height: 27px;
    padding: 8px 14px;
}

.project-description{
    padding: 20px 40px;
}

.about {
    padding: 100px 0;
}


.about h1 {
    background-color: var(--primary-color);
    padding: 10px 20px;
}

.about h2 {
    background-color: var(--secondary-color);
    margin-bottom: 50px;
    padding: 5px 20px;
}

.about .about-text {
    margin-top: 30px;
}

.about .tools p {
text-align: center;
font-size: 11px;
line-height: 1.5;
}

.about .certifications h5 {
    text-align: center;
}

.about-image {
    max-width: 100%;
}

.about .responsive-cert {
    height: 220.47px;
    width: auto;
}

@media (max-width:992px) {

    h1 {
        font-size: 40px;
    }

    h4, h5 {
        font-size: 20px;
    }

    p {
        line-height: 20px;
    }

    .intro {
        margin-right: 30px;
    }

    .hero {
        padding: 20px;
    }

    .project-description {
        padding: 10px 20px;
    }

    .hero .btn-branding {
        margin-top: 10px;
    }

.about {
    padding: 0;
}
    .about .certifications h5 {
        margin-top: 30px;
        font-size: 25px;
    }

}
